<web-app>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.mvcapp.controller.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
</web-app>